*
{
  margin: 0;
  padding: 0;
}

.navbar-style
{
  box-shadow: 0 5px 10px #efefef;
  text-transform: uppercase;

}
.icon-bar
{
  background: black;
}
li a
{
  color: #333;
}
.abc-text
{
  font-size: 30px;
  margin: 20px;
  color: #800000;
}
a.btn
{
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}
a.btn-first
{
  background-color:#800000;
  color: #fff;
}

a.btn-second
{
  background-color: transparent;
  border: 1px solid #800000;
  color: #333;
}
 .banner-info, .banner-img
{
  margin:30px 0;
}
.footer
{


	border-top: 1px solid black;
	color: black;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 20px;



  }
